<%= javascript_include_tag "autocomplete", "data-turbolinks-track" => true %>

<%= render "partials/nav" %>

<div class="flex-container">
  <div class="search-pg-container">
    <h1>Search by Professor</h1>
    <div class="search-container">
      <form autocomplete="off">
        <div class="autocomplete">
          <input type="text" placeholder="ex. John Doe" name="courseID" class="w-50" id="profName">
          <button type="submit" class="btn btn-primary w-25 d-inline">Search</button>
        </div>
      </form>
    </div>

    <h4>or</h4>

    <h1>Search by Course</h1>
    <div class="search-container">
      <form>
        <input type="text" placeholder="ex. CSCE 431, Parallel Computing" name="courseID" class="w-50" id="courseID">
        <button type="submit" class="btn btn-secondary w-25 d-inline">Search</button>
      </form>
    </div>

  </div>
</div>

<script>
    // From: https://davidwalsh.name/javascript-debounce-function
    function debounce(func, wait, immediate) {
        var timeout;

        return function executedFunction() {
            var context = this;
            var args = arguments;

            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };

            var callNow = immediate && !timeout;

            clearTimeout(timeout);

            timeout = setTimeout(later, wait);

            if (callNow) func.apply(context, args);
        };
    };
    const profName = document.getElementById("profName");
    const fetchMatchingProfessors = debounce(function (query) {
        fetch(`/search/professors?q[display_name_cont]=${query}`).then((response) => response.json()).then((json) => {
            const displayNames = json.map((e) => e['display_name']);
            autocomplete(profName, displayNames);
        });
    }, 300);
    profName.addEventListener('input', (e) => fetchMatchingProfessors(e.target.value));

</script>

<%= render "partials/footer" %>
