<%= render "partials/nav" %>

<div class="flex-container">
  <div class="search-pg-container">
    <h2>Search by Professor or Course</h2>
    
    <%= render 'partials/searchcontainers' %>

  </div>
</div>

<%= render "partials/footer" %>
