<div class="navbar">
    <%= image_tag 'picachu-logo.png', class: 'img-logo'%>


    <a href="#" class="nav-user">
        <p>John Doe</p>
        <%= image_tag 'arr-down.png', class: 'down-arrow'%>
    </a>

</div>