<div class="navbar">
    <%= link_to search_path do %>
        <%= image_tag 'picachu-logo.png', class: 'img-logo'%>
    <% end %>    

    <a href="#" class="nav-user">
        <p>John Doe</p>
        <%= image_tag 'arr-down.png', class: 'down-arrow'%>
    </a>

</div>