<button class="btn-report" id="open-modal-btn" onclick="openModal()">
  <p><%= image_tag 'flag.svg' %> Report</p>
</button>
<div id="report-modal" class="modal">
  <div class="modal-content">
    <span id="close-modal-btn" class="close">&times;</span>
    <div class="header">
      <h1>Report Review</h1>
      <h3>Please let us know why this review is being reported.</h3>
    </div>
    <form class="wrapper-class" accept-charset="UTF-8" id="reportForm" data-remote="true" method="post" action="<%= review_report_path(review_id) %>">
      <input type="hidden" id="review-id" name="id" value="<%= review_id %>">
      <input type="radio" id="spam" name="reason" value="spamAbusive" onclick="requireOtherInputIfNeeded(this)"
             required>
      <label for="spam">It is spam or abusive.</label><br><br>
      <input type="radio" id="inappropriate" name="reason" value="inappropriateOffensive"
             onclick="requireOtherInputIfNeeded(this)" required>
      <label for="inappropriate">It uses inappropriate or offensive language.</label><br><br>

      <input type="radio" id="other" name="reason" value="other" onclick="requireOtherInputIfNeeded(this)"
             required>
      <label for="other">Other</label><br>
      <input type="text" id="reasonForOther" name="other_input" placeholder="Please specify for 'Other'" disabled><br><br>
      <input class="btn btn-primary w-30" type="submit" value="Submit Report" id="reportReview"/>
    </form>
  </div>
</div>
<%= javascript_include_tag "reportModal", "data-turbolinks-track" => true %>