<br>

<div class="radio-container">
    <div class="radio-elem" onclick="showSearch('Professor');">
        <input type="radio" id="radioProfessor" name="searchby" value="professor" checked>
        <label for="radioProfessor" id="labelProfessor" class="radio-label active">Professor</label>
    </div>
    <div class="radio-elem" onclick="showSearch('Course');">
        <input type="radio" id="radioCourse" name="searchby" value="course">
        <label for="radioCourse" id="labelCourse" class="radio-label">Course</label>
    </div>
</div>

<div class="search-container" id="searchProfessor">
    <form method="get" action="<%= search_professors_path %>">
        <input type="text" placeholder="John Doe" name="q[full_name_cont]" id="profName">
        <button type="submit" class="btn btn-primary btn-search">Search</button>
    </form>
</div>

<div class="search-container" id="searchCourse" style="display:none">
    <form method="get" action="<%= search_courses_path %>">
        <input type="text" placeholder="CSCE 431 Parallel Computing" name="q[full_name_cont]" id="courseID">
        <button type="submit" class="btn btn-secondary btn-search">Search</button>
    </form>
</div>

<br>

<%= javascript_include_tag "showSearch", "data-turbolinks-track" => true %>