<<<<<<< HEAD
<div class="flex-container">
  <div>
    <%= image_tag 'picachu-logo.png', class: 'img-logo'%>
    <h1>Log In to Your Account</h1>
    <button class="btn btn-primary">Log In</button>

    <div class="signup-block">
        <h3>Don't Have an Account?</h3>
        <button class="btn btn-secondary">Sign Up</button>
    </div>

    <div class="div-netid">
        <p class="p-caption">
            <%= image_tag 'tamu-logo.png', class:'img-tamu', align:'left' %>
            PICAchu verifies your account with your TAMU NetID.
        </p>
    </div>

  </div> 
</div>

<footer>
    <p>© 2020 picachu,  all rights reserved</p>
</footer>
=======
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
>>>>>>> b8bc0e25f54959a2d9beaa4903c37c79528788a9
