<div class="flex-container">
  <div class="login-container">
    <%= image_tag 'picachu-logo.png', class: 'img-logo'%>
    <h2>Log In to Your Account</h2>
    <a href="/auth/google_oauth2"><button id="login_button" class="btn btn-primary w-100">Log In</button></a>

    <div class="signup-block">
        <h4>Don't Have an Account?</h4>
        <button id="signup_button" class="btn btn-secondary w-100">Sign Up</button>
    </div>

    <div class="div-netid">
        <p class="p-caption">
            <%= image_tag 'tamu-logo.png', class:'img-tamu', align:'left' %>
            You must use your TAMU email to use PICAchu.
        </p>
    </div>

  </div>
</div>

<%= render "partials/footer" %>
