<div class="flex-container">
  <div class="login-container">
    <%= image_tag 'picachu-logo.png', class: 'img-logo'%>
    <h2>Log In to Your Account</h2>
    <a href="/auth/google_oauth2"><button id="login_button" class="btn btn-primary w-100">Log In</button></a>


    <div class="div-netid">
        <p class="p-caption", style="text-align:center;">
            <%= image_tag 'tamu-logo.png', class:'img-tamu', align:'center' %>
            You must use your TAMU email to use PICAchu.
        </p>
    </div>

  </div>
</div>

<%= render "partials/footer" %>
