<div class="flex-container">
  <div class="login-container">
    <%= image_tag 'picachu-logo.png', class: 'img-logo'%>
    <h2>Log In to Your Account</h2>
    <button class="btn btn-primary w-100">Log In</button>

    <div class="signup-block">
        <h4>Don't Have an Account?</h4>
        <button class="btn btn-secondary w-100">Sign Up</button>
    </div>

    <div class="div-netid">
        <p class="p-caption">
            <%= image_tag 'tamu-logo.png', class:'img-tamu', align:'left' %>
            PICAchu verifies your account with your TAMU NetID.
        </p>
    </div>

  </div> 
</div>

<%= render "partials/footer" %>
