// Place all the styles related to the professor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.column-container{
    flex-direction: column;
    width: 50%;
    margin: 10vh 10px 10px 10px;

    hr{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.rating-image {
    max-width: 30px;
    
}

.professor-general-container{
    display:inline-block;
    h1{
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 14px;
        text-align: left;
        color: #00817E;
    }
    p{
        
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        color: #000000;
    }
}

.write-review-container{
    display:inline-block;
    margin: 40px;

    a{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        color: #FFFFFF;
    }
}

.rating-star{
    color: #333;
}

.review-level-container{
    text-align: left;
    div{
        display: inline;
    }
    h3{
        display: inline;
        color: #00817E;
        line-height: 14px;
        margin-right: 10px;
        @media (max-width: 767.98px) { 
            display: none;
        }
    }
    h4{
        color: #777777;
        display: inline;
        font-size: 12px;
        line-height: 14px;
    }

}

.tag-block-container{
    text-align: left;
    h2{
        font-size: 18px;
        line-height: 14px;
        color: #000000;
        margin-bottom:20px;
    }
    
}

.tag-group-container { 
    
    div{
        display: inline;
        border: 2px solid #00817E;
        border-radius: 25px;
        line-height: 14px;
        margin: 10px 2px 10px 2px;
    }
    
    p {
        font-size: 14px;
        line-height: 16px;
        color: #004055;
        font-style: normal;
        font-weight: normal;
        display: inline;
        padding-left: 10px;
        padding-right:10px;
    }
   
}

.review-container{
    text-align: left;
    line-height: 14px;
    h2{
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-bottom: 20px;
    }
    h3{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #00817E;
    }
    h4{
        font-size: 12px;
        font-weight: normal;
        color: #777777;
    }
    p{
        margin: 40px 5px 40px 5px;
        font-size: 14px;
        font-style: italic;
    }
    .course-title {
        color: #00817E;
        &:hover {
            color: #00524F;
            background-color: transparent;
            transition: 0.3s;
        }
    }
}

.review-component{
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 15px 30px;
    h2{
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-bottom: 10px;
    }
    h3{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #232323;
        display: inline;
    }
    h4{
        font-weight: normal;
        color: #777777;
    }
    p{
        margin: 30px 5px 30px 5px;
        font-size: 14px;
    }
    .report-container{
        display: inline-block;
        float: right;
        h4{
            color: #777777;
            display: inline;
            font-size: 12px;
            line-height: 14px;
        }
    }
    .review-body {
        padding-top: 20px;
    }
}

.review-footer {
    border-top: 1px solid #DDD;
    padding: 20px 0;
    p, h5, h4 {
        display: inline-block;
        margin: 0!important;
        font-size: 14px;
    }
}

.user-agree-container{
    display: inline-block;
    a {
        text-decoration: none;
        margin-right: 20px;
        &:hover {
            opacity: 0.7;
            transition: 0.3s;
            background-color: transparent;
        }
    }

    h4{ 
        color: #777777;
        display: inline;
        line-height: 14px;
    }
    h5{
        font-family: Roboto;
        font-style: normal;
        line-height: 14px;
        font-size: 14px!important;

        color: #00817E;
        display: inline;
    }
}

.all-course-container{
    text-align: left;
    line-height: 14px;
    table{
        width:100%;
        border-collapse: collapse;
    }
    table, th, td {
        border-bottom: 1px solid #ddd;

    }
    h2{
        font-size: 18px;
        color: #000000;
    }
    th{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #777777;
        padding-bottom: 10px;
    }
    td{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #00817E;
        padding: 10px 0;
        a {
            color: #00817E;
            &:hover {
                color: #00524F;
                background-color: transparent;
                transition: 0.3s;
            }
        }
    }
    hr{
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    h3{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    h4{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
    }
}

.checked {
  color: orange;
}


