// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


 .header
{
    text-align: center;
    margin-bottom: 10px; 
}

.w-80{
    width: 60%;
    margin-top: 15px;
    /*height :20px;*/
    /*padding-top: 5px;*/
}

#other_input
{
    height: 10px;
    width: 50%;
    margin-left: 25%;
    border-radius: 12px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  /*text-align: center;*/
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #888;
  width: 60%;
  max-height: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.wrapper-class input[type="radio"] {
  width: 15px;
  display: inline;
  margin-left: 20%;
}

.wrapper-class label {
  display: inline;
  margin-left: 5px;
}

#other_input
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.w-30{
    width: 30%;
    margin-top: 15px;
    /*height :20px;*/
    /*padding-top: 5px;*/
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    border: 1px solid #777;
    padding: 15px;
    font-size: 14px;
    background-color: white;
    background-image: url('arr-down-grey.svg');
    background-position: calc(100% - 15px) center;
    background-size: 18px 9px;
    background-repeat: no-repeat;
}

.flex-container.review-container {
    background-color: #fafafa;
    .reviewform-container {
        background-color: white;
        padding: 40px 60px; 
        border: 1px solid #DEDEDE;
        margin: 50px 10px 80px;
        width: 40%;
        h2 {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 40px;
        }
        input[type=text] {
            width: 100%;
            font-size: 14px;
            box-sizing:border-box;
            &::placeholder {
                font-style: italic;
            }
        }
        input[type=radio] {
            margin-bottom: 10px;
        }
        hr {
            border: 1px solid #dedede;
            margin: 35px 0;
        }
        select {
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }
        .field {
            margin-bottom: 25px;
            label {
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 15px;
            }
        }
        .checkbox-style {
            label {
                display: inline-block;
                margin-top: 2px;
                margin-bottom: 0;
            }
            input[type=checkbox] {
                float: left;
                margin-right: 10px;
                left: 9px;
            }
        }
        
        .radio-inline {
            br {
                display: none;
            }
            input[type=radio] {
                margin: 0 10px 0 10%;
            }
            input[type=radio]:first-of-type {
                margin-left: 0;
            }
        }
        @media (max-width: 991.98px) { 
            width: 75%;
        }
        @media (max-width: 767.98px) { 
            width: 90%;
        }
    }
}