// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input[type=text] {
    border-radius: 5px;
    border: 1px solid #777;
    padding: 15px;
    font-size: 16px;
}

.d-inline {
    display: inline;
}

.flex-container > .search-pg-container {
    width: 50%;
    margin: 20vh 10px 10px 10px;
    h1 {
        text-align: left;
        margin-bottom: 10px;
    }
    h4 {
        font-weight: 300;
        font-size: 24px;
        color: #777;
    }
    input[type=text] {
        width: 65%;
    }
}

.search-container {
    display: block;
    margin-bottom: 20px;
    input[type=text] {
        margin-right: 3%;
    }
}



/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
  }
 
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
  
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}