// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input[type=text] {
    border-radius: 5px;
    border: 1px solid #777;
    padding: 15px;
    font-size: 16px;
    width: 65%;
}

.d-inline {
    display: inline;
}

.flex-container > .search-pg-container {
    width: 50%;
    margin: 20vh 10px 10px 10px;
    h1 {
        text-align: left;
        margin-bottom: 10px;
    }
    h4 {
        font-weight: 300;
        font-size: 24px;
        color: #777;
    }
}

.search-container {
    display: block;
    margin-bottom: 20px;
    input[type=text] {
        margin-right: 3%;
    }
}