<%= render "partials/nav" %>
<div>
  <div>
    
    <h1>Review</h1>
    
    <button class="btn btn-primary" id="myBtn">Report Review</button>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class ="header">
            	<h1>Report Review</h1>
                <p>Please let us know why this review is being reported.</p>

            </div>
            
            <form class="wrapper-class">
			  <input type="radio" id="radio1">
			       <label for="radio1">It is spam or abusive.</label><br><br>
			  <input type="radio" id="radio2">
			       <label for="radio2">It uses inappropriate or offensive language.</label><br><br>
			   <input type="radio" id="radio3">
			        <label for="radio3">Other</label><br>
			   <input id="other_input" type="text"  placeholder="Please specify for 'Other'">
			   <br><br>
			</form>

            <button class="btn btn-primary w-80" id="submitReview">Submit Report</button>
        </div>
    </div>
  
  </div>  
</div>
<%= javascript_include_tag "index"%>
<%= render "partials/footer" %>
